button{
     height: 2rem;
     width: 4rem;
     background-color: antiquewhite;
}

button:hover{
    background-color: aliceblue;
}

body{
    background-color: bisque;
}

.gameSelection{
    display :none;
}